* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    /* grid-template-columns: 300px 300px;  */
    /* grid-template-columns: 1fr 1fr; grid property */
    grid-template-columns: 300px 1fr; /* grid property */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer"
}

nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: blue;
    color: white;
    padding: 1em;
}

aside {
    height: calc(100vh - 50.4px);
    top: 50.4px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: gray;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background: black;
    color: white;
    padding: 2em;
}

@media(max-width: 800px){
    body {
        grid-template-columns: 1fr;
    }
    aside {
        position: fixed;
        width: 300px;
        display: none;
    }
    .show {
        display: block;
    }
}